<div [style.--headColor] = "headColorVar"
     [style.--headStyle] = "headStyleVar"
     [style.--backgroundFill] = "backgroundFillVar"
     [style.--textColor]="textColorVar" 
     [style.--textStyle]="textStyleVar"
     [style.--textSize]="textSizeVar">
    <app-bar></app-bar>
    <app-home></app-home>
    <app-about></app-about>
    <!-- <app-experience></app-experience> -->
    <!-- <app-projects></app-projects> -->
    <!-- <app-certificates></app-certificates> -->
    <!-- <app-contact></app-contact> -->
</div>
